[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.11.1"
whitenoise = "==3.3.0"
brotlipy = "==0.6.0"
matplotlib = "==1.5.3"
scipy = "==0.18.1"
scikit-learn = "==0.18.1"
django-allauth = "==0.30.0"
Quandl = "==3.0.1"
Django = "==1.10.5"

[dev-packages]

[requires]
python_version = "3.6.0"
