<!DOCTYPE html>
<html>
	<head>
		{% load i18n %}
		{% load account %}
		<title>Password Reset | Sequence Control Panel</title>
		{% include "head.html" %}
	</head>
	<body class="form">

	{% load staticfiles %}
	
	<!-- Header -->
		{% include "nav.html" %}

    <div class="container top-pad text-navy">
	
        <div class="row">
		
            <br><br><br>
			
            <div class="col-md-6 col-md-offset-3 col-xs-12">
			
                <div class="panel panel-default">
				
                    <div class="panel-body bordered">
					
                        <div class="text-center">
						
                            <br>
							
                            <h2 class="text-navy">Forgot your password?</h2>
                            {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                            {% endif %}
							<br>

                            <p>Input your E-mail address below &amp;<br>
                            We'll send you an e-mail allowing you to reset it.</p>
							
                        </div>
						
                        <br>

                        <div class="form-group">
							<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset wide">
								{% csrf_token %}
								{{ form.as_p }}
								
								<br>
								
								<button class="btn btn-primary btn-lg btn-block" value="{% trans 'Reset My Password' %}" type="submit">
								Recover password</button>
							</form>	
                        </div>	
						
                        <br>

                        <div class="text-center">
						
                            <p>Not a Member? <a href="{% url 'account_signup' %}">Sign up here</a></p>
							
                        </div>
						
                    </div>
					
                </div>
				
            </div>
			
        </div>
		
    </div>
	
	<!-- Footer -->
		{% include "footer.html" %}
	
</body>
</html>