<!DOCTYPE html>
<html lang="en">
	<head>
	{% load i18n %}
		<title>Change Password | Sequence Control Panel</title>
		{% include "head.html" %}
	</head>
	<body class="form">
	
	{% load staticfiles %}
	
	<!-- Header -->
		{% include "nav.html" %}
		 
		<div class="container top-pad text-navy">

			<div class="row">
			
				<br /><br /><br />

				<div class="col-md-6 col-md-offset-3 col-xs-12">

					<div class="panel panel-default">

						<div class="panel-body bordered text-center">

								<h2 class="text-navy">Change Password</h2>

								<br />
								
								<hr />
								
								<div class="form-group text-left" id="Change-Password-form">

									<form class="password_change" method="POST" action="{% url 'account_change_password' %}">
										{% csrf_token %}
										{{ form.as_p }}
										
										<button class="btn btn-primary btn-lg btn-block" type="submit" name="action">{% trans "Change Password" %}</button>
										
									</form>
									
									<br/>
									
									<p class="text-center secondaryAction">Forgot your password? <a href="{% url 'account_reset_password' %}">{% trans "Click here" %}</a></p>
									<p class="text-center">Not a Member? <a href="{{ signup_url }}">Sign up here</a></p>

								</div>

						</div>

					</div>

				</div>

			</div>

		</div>
		
	<!-- Footer -->
		{% include "footer.html" %}
		
	</body>
</html>