<!DOCTYPE html>
<html lang="en">
	<head>
	{% load i18n %}
		<title>Set Password | Sequence Control Panel</title>
		{% include "head.html" %}
	</head>
	<body class="form">
	
	{% load staticfiles %}
	
	<!-- Header -->
		{% include "nav.html" %}
		 
		<div class="container top-pad text-navy">

			<div class="row">
			
				<br /><br /><br />

				<div class="col-md-6 col-md-offset-3 col-xs-12">

					<div class="panel panel-default">

						<div class="panel-body bordered text-center">

								<h2 class="text-navy">Set Password</h2>

								<br />
								
								<hr />
								
								<div class="form-group text-left" id="Change-Password-form">

									<form class="password_set" method="POST"  action="{% url 'account_set_password' %}">
										{% csrf_token %}
										{{ form.as_p }}
										<input type="submit" name="action" value="{% trans 'Set Password' %}"/>
									</form>

								</div>

						</div>

					</div>

				</div>

			</div>

		</div>
		
	<!-- Footer -->
		{% include "footer.html" %}
		
	</body>
</html>