<!DOCTYPE html>
<html lang="en">
	<head>
	{% load i18n %}
		<title>Verify E-mail | Sequence Control Panel</title>
		{% include "head.html" %}
	</head>
	<body class="form">
	
	{% load staticfiles %}
	
	<!-- Header -->
		{% include "nav.html" %}
		 
		<div class="container top-pad text-navy">

			<div class="row">
			
				<br /><br /><br />

				<div class="col-md-6 col-md-offset-3 col-xs-12">

					<div class="panel panel-default">

						<div class="panel-body bordered text-center">

								<h2 class="text-navy">{% trans "Verify Your E-mail Address" %}</h2>

								<br />
								
								<hr />
								
								<p>We have sent an e-mail to you for verification. 
								Follow the link provided to finalize the signup process. 
								Please contact us if you do not receive it within a few minutes.</p>

						</div>

					</div>

				</div>

			</div>

		</div>
		
	<!-- Footer -->
		{% include "footer.html" %}
		
	</body>
</html>