<!DOCTYPE html>
<html lang="en">
<head>
    <title>Charts | Sequence Control Panel</title>
    {% include "head-panel.html" %}
</head>
<body>
{% load staticfiles %}
<div id="wrapper">
    <!-- Header -->
    {% include "nav-panel.html" %}
    <div id="page-wrapper">
        <div class="container-fluid">
			<div class="row">
               <div class="panel panel-default">
				   <div class="panel-heading">Generate past stock price chart</div>
                   <div class="panel-body">
                       <form method="get" class="form-inline">
                           <div class="form-group">
                               <label for="stockName">Enter the stock code:&nbsp; &nbsp;</label>
                               <input type="text" class="form-control" name="stockName" id="stockName"
                                      placeholder="WIKI/GOOGL">
                           </div>
                           <button type="submit" class="btn btn-default">Generate Chart</button>
                           <br>
                           <br>
                           <span>Suggestions:
                               <a href="/dashboard/charts/?stockName=WIKI/GOOG">Google</a>&nbsp;
                               <a href="/dashboard/charts/?stockName=WIKI/AAPL">Apple</a>&nbsp;
                               <a href="/dashboard/charts/?stockName=WIKI/MSFT">Microsoft</a>&nbsp;
   							<a href="/dashboard/charts/?stockName=WIKI/FB">Facebook</a>
                           </span>
                       </form>
                   </div>
               </div>
		   </div>
   			{% if error %}
   				<div class="alert alert-danger">
   				  <strong>Error!</strong> {{ error }}
   				</div>
			{% endif %}
   			{% if image %}
                   <div class="row">
                       <div class="panel panel-default">
                           <h3>{{ name }}</h3>
                           <div class="text-center">
							   	<img src={{image}}/>
                           </div>
                       </div>
              	 </div>
   			{% endif %}
            </div>
            <!-- Footer -->
            {% include "footer-panel.html" %}
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
</body>
</html>