<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Charts | Sequence Control Panel</title>
	{% include "head.html" %}
  </head>
  <body>
  {% load staticfiles %}
    <div id="wrapper">
	<!-- Header -->
		{% include "nav.html" %}
      <div id="page-wrapper">
        <div class="container-fluid">
          <div class="full-pad">
            <div class="row">
              <div class="col-md-12 panel panel-default">
                <h3>Type</h3>
				<div class="text-center">
					<p>Chart goes here</p>
				</div>
				<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 panel panel-default">
                <h3>Type</h3>
				<div class="text-center">
					<p>Data goes here</p>
				</div>
				<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
              </div>
              <div class="col-md-6 panel panel-default">
                <h3>Type</h3>
				<div class="text-center">
					<p>Data goes here</p>
				</div>
				<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
              </div>
            </div>
          </div>
		  <!-- Footer -->
			{% include "footer-panel.html" %}
        </div>
      </div>
      <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
  </body>
</html>