<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard | Sequence Control Panel</title>
    {% include "head-panel.html" %}
</head>
<body>
{% load staticfiles %}
<div id="wrapper">
    <!-- Header -->
    {% include "nav-panel.html" %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="full-pad">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">Search Organisations</div>
                        <div class="panel-body">
                            <form action="/dashboard/tickers/" method="get" class="form-inline">
                                <div class="form-group">
                                    <label for="ticker">Search organisations:&nbsp; &nbsp;</label>
                                    <input type="text" class="form-control" name="ticker" id="ticker"
                                           placeholder="Alphabet">
                                </div>
                                <button type="submit" class="btn btn-default">Search</button>
								<br>
                                <br>
								<span>Suggestions:
									<a href="/dashboard/tickers/?ticker=alphabet">Google</a>&nbsp;
		                            <a href="/dashboard/tickers/?ticker=Apple">Apple</a>&nbsp;
		                            <a href="/dashboard/tickers/?ticker=Microsoft">Microsoft</a>&nbsp;
									<a href="/dashboard/tickers/?ticker=Facebook">Facebook</a>
		                        </span>
                            </form>
							<br/>
							<p><b>Note:</b> Use this to search for the Stock code of a publicly traded company</p>
                        </div>
                    </div>
                </div>
				<div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">Latest stock prices...</div>
                        <div class="panel-body">
                            <form method="get" class="form-inline">
                                <div class="form-group">
                                    <label for="stockName">Enter the stock code:&nbsp; &nbsp;</label>
                                    <input type="text" class="form-control" name="stockName" id="stockName"
                                           placeholder="WIKI/GOOGL">
                                </div>
                                <button type="submit" class="btn btn-default">Search</button>
                                <br>
                                <br>
                                <span>Suggestions:
		                            <a href="/dashboard/control-panel/?stockName=WIKI/GOOG">Google</a>&nbsp;
		                            <a href="/dashboard/control-panel/?stockName=WIKI/AAPL">Apple</a>&nbsp;
		                            <a href="/dashboard/control-panel/?stockName=WIKI/MSFT">Microsoft</a>&nbsp;
									<a href="/dashboard/control-panel/?stockName=WIKI/FB">Facebook</a>
		                        </span>
                            </form>
							<br/>
							<p><b>Note:</b> The tag <i>"WIKI/"</i> most be included when searching</p>
                        </div>
                    </div>
                </div>
				{% if error %}
                <div class="alert alert-danger">
                    <strong>Error!</strong> {{ error }}
                </div>
				{% else %}
				<div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ stock_name }}</div>
                        <div class="panel-body">
                            <div class="text-center">
                                {% autoescape off %}{{ table }}{% endautoescape %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 panel panel-default">
                        <h3>Graphing price by date - Close and Forecast</h3>
                        <div class="text-center">
                            <img class="img-responsive" src="/static/images/f1.png"/>
                        </div>
                    </div>
                    <div class="col-md-6 panel panel-default">
                        <h3>Graphing price by date - Close</h3>
                        <div class="text-center">
                            <img class="img-responsive" src="/static/images/f2.png"/>
                        </div>
                    </div>
                </div>
				{% endif %}
            </div>
            <!-- Footer -->
            {% include "footer-panel.html" %}
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
</body>
</html>
