<!DOCTYPE HTML>
<html>
	<head>
		<title>About | Sequence Control Panel</title>
		{% include "head.html" %}
	</head>
	<body>
	
	{% load staticfiles %}
		
	<!-- Page Wrapper -->
		<div id="page-wrapper">
		
		<!-- Header -->
			{% include "nav.html" %}

		<!-- Main -->
			<article id="main">
				<header>
					<h2>About Us</h2>
					<p>Learn more about Sequence Control Panel</p>
				</header>
				<section class="wrapper style5">
					<div class="inner">
						<h3>What we do</h3>
						<p>Sequence Control Panel (SCP) is a dynamic dashboard created to help people new to investing.<br>
						Our dashboard is designed to make it easy for people to get into the market and grow their portfolio.<br>
						We developed unique algorithms that monitor stock and forecast results to our investors.<br>
						Our data is powered by Wall Street giving us an edge when forecasting and predicting stock prices.</p>

						<hr />

						<h4>SCp background</h4>
						<p>Investing in the stock market is a great way to save up for retirement or buy a new house.<br>
						So whats stopping people from doing it?<br>
						Looking at investor applications available across the web, they aren't very user friendly.<br>
						If you're not a stock broker or work in the financial field, it can be overwhelming.<br>
						That's why we developed SCP. Our dynamic dashboard is built so everyday people can use our visually powered analytic service to help them invest within the market.</p>

					</div>
				</section>
				
			</article>

		<!-- Footer -->
			{% include "footer.html" %}
			
		</div>
		
	</body>
</html>