<!DOCTYPE HTML>
<html>
	<head>
		<title>About | Sequence Control Panel</title>
		{% include "head.html" %}
	</head>
	<body>
	
	{% load staticfiles %}
		
	<!-- Page Wrapper -->
		<div id="page-wrapper">
		
		<!-- Header -->
			{% include "nav.html" %}

		<!-- Main -->
			<article id="main">
				<header>
					<h2>About Us</h2>
					<p>Learn more about Sequence Control Panel</p>
				</header>
				<section class="wrapper style5">
					<div class="inner">
						<h3>What we do</h3>
						<p>Paragraph<br>
						Paragraph<br>
						Paragraph<br>
						Paragraph<br>
						Paragraph<br>
						Paragraph<br>
						Paragraph</p>

						<p>Paragraph<br>
						Paragraph<br>
						Paragraph<br>
						Paragraph<br>
						Paragraph<br>
						Paragraph</p>

						<hr />

						<h4>SCP's background</h4>
						<p>Paragraph<br>
						Paragraph<br>
						Paragraph</p>

						<p>Paragraph<br>
						Paragraph<br>
						Paragraph<br>
						Paragraph<br>
						Paragraph</p>

					</div>
				</section>
				
			</article>

		<!-- Footer -->
			{% include "footer.html" %}
			
		</div>
		
	</body>
</html>