<!DOCTYPE HTML>
<html>
	<head>
		<title>Contact | Sequence Control Panel</title>
		{% include "head.html" %}
	</head>
	<body>
	
	{% load staticfiles %}
	
		<!-- Page Wrapper -->
			<div id="page-wrapper">

			<!-- Header -->
				{% include "nav.html" %}

			<!-- Main -->
				<article id="main">
					<header>
						<h2>Contact Us</h2>
						<p>Our Support team is standing by to assist</p>
					</header>
					<section class="wrapper style5">
						<div class="inner lead">
							<p class="text-center">Our Concierge team can help with any enquiries or special requests.</p>
								
							<p><i class="fa fa-phone" aria-hidden="true"></i> | 01 105 9256</p>
								
							<p><i class="fa fa-envelope" aria-hidden="true"></i> | support@scp.com</p>
								
							<p><i class="fa fa-location-arrow" aria-hidden="true"></i> | National College of Ireland,
							Mayor Street, IFSC, Dublin 1, Ireland</p>
						</div>

					</section>
				</article>
				
			</div>
			
		<!-- Map -->
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8736.359774393164!2d-6.241650356982775!3d53.347427464360315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6d51b774ee7fa935!2sNational+College+of+Ireland!5e0!3m2!1sen!2sie!4v1467660097995" 
			width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>

	<!-- Footer -->
		{% include "footer.html" %}

	</body>
</html>