<!DOCTYPE HTML>
<html>
	<head>
		<title>Support | Sequence Control Panel</title>
		{% include "head.html" %}
	</head>
	<body>

	{% load staticfiles %}
	
		<!-- Page Wrapper -->
			<div id="page-wrapper">

			<!-- Header -->
				{% include "nav.html" %}

			<!-- Main -->
				<article id="main">
					<header>
						<h2>Frequently Asked Questions</h2>
						<p>We're here to help you out</p>
					</header>
					<section class="wrapper style5">
						<div class="inner lead">
								<div class="text-center">
									<p>Below are the answers to the most commonly asked questions. 
									If you need more information, don't hesitate<br>
									to contact us at 01 905 9056 or at <a href="mailto:support@scp.com">support@scp.com</a></p>
								</div>
								
								<div class="container-fluid">
									<div class="col-xs-12">
										<h2>General Questions</h2>
										
										<p><a aria-controls="1" aria-expanded="false" data-toggle=
										"collapse" href="#1"><i aria-hidden="true" class=
										"fa fa-plus-circle"></i> What is Sequence Control Panel?</a>
										</p>

										<div class="collapse" id="1">
											<div class="card card-block">
												<p>HouseMyDog is an online community where Dog Parents
												can connect with Dog Sittes, to find safe and loving
												real homes for their dogs while they travel.</p>

												<p>Here at HouseMyDog we love our dogs like members of
												the family. We weren't happy with the traditional
												boarding options, which were overly complicated,
												expensive and left us feeling guilty leaving our pups
												behind when we travelled. We wanted to fix that. We
												dreamed of a simple, cage-free and stress free solution
												for safely boarding our dogs in real homes at
												affordable rates, and from that the idea HouseMyDog was
												born.</p>

												<p>With HouseMyDog you can chose from hundreds of
												sitters, ranging from professional pet sitters to dog
												lovers who will mind your dog in their own home,
												provide one on one attention and love your precious pup
												like it was their own, leaving you to travel with peace
												of mind. You can arrange to meet your host in advance
												of your pups stay, and stay in touch with photo
												updates, so you can rest at ease that they are enjoying
												their holiday as much as you are!</p>
											</div>
										</div>

										<p><a aria-controls="2" aria-expanded="false" data-toggle=
										"collapse" href="#2"><i aria-hidden="true" class=
										"fa fa-plus-circle"></i> How does Sequence Control Panel work?</a>
										</p>

										<div class="collapse" id="2">
											<div class="card card-block">
												<p>If you are leaving home and you can't bring your pet
												with you, but want someone responsible and loving to
												care for your dog, then you've come to the right place.
												It's easy to use HouseMyDog; all you have to do is
												create a free HouseMyDog account, enter the location
												and dates when you want your dog minded, and then
												search through hundreds of screened and experienced
												Sitters. With just one click you can email your perfect
												Sitter, schedule a Meet and Greet, and make a
												reservation at any time.</p>


													<p>HouseMyDog will only charge your card once a Sitter
													accepts your request, and after you book we'll put you
													in touch with the Sitter directly to arrange the finer
													details. Click here (link) to watch our 90 second
													&quot;How It Works&quot; video and learn more about
													HouseMyDog.</p>
												</div>
											</div>


											<p><a aria-controls="3" aria-expanded="false" data-toggle=
											"collapse" href="#3"><i aria-hidden="true" class=
											"fa fa-plus-circle"></i> Where do you get your data from?</a>
											</p>


											<div class="collapse" id="3">
												<div class="card card-block">
													<p>The amount of information we need depends on what
													you want to do on our site. If you want to board your
													dog we ask that you share basic information about your
													dog (such as health and behavioural info) so that our
													sitters have all the information they need to provide
													exceptional care. If you want to mind other dogs, we'll
													need information about your experience with animals and
													your home. We will never share your last name, email
													address, physical address, or phone number until after
													a booking is accepted. For more information please
													check our sitter FAQ below.</p>
												</div>
											</div>


											<p><a aria-controls="4" aria-expanded="false" data-toggle=
											"collapse" href="#4"><i aria-hidden="true" class=
											"fa fa-plus-circle"></i> Do I have to pay to join
											Sequence Control Panel?</a>
											</p>


											<div class="collapse" id="4">
												<div class="card card-block">
													<p>No way! Sequence Control Panel is free to join and ALWAYS will
													be. It costs nothing to become a member,
													create a profile and engage with data.</p>
												</div>
											</div>


											<p><a aria-controls="5" aria-expanded="false" data-toggle=
											"collapse" href="#5"><i aria-hidden="true" class=
											"fa fa-plus-circle"></i> What is the Sequence Control Panel guarantee?</a>
											</p>


											<div class="collapse" id="5">
												<div class="card card-block">
													<p>Here at Sequence Control Panel, we are committed to providing
													the best financial analytics solutions. The
													Sequence Control Panel guarantee will offer you peace of mind while investing.
													We do not guarantee the forecasts presented but we stand by our data.
													SCP guarantees 24/7 support to all users.</p>
												</div>
											</div>


											<h2 id="owners">Dog Owners</h2>


											<p><a aria-controls="6" aria-expanded="false" data-toggle=
											"collapse" href="#6"><i aria-hidden="true" class=
											"fa fa-plus-circle"></i> Why is HouseMyDog right for my
											dog?</a>
											</p>


											<div class="collapse" id="6">
												<div class="card card-block">
													<p>We believe that all dogs should be taken care of by
													loving sitters, in real homes with lots of individual
													attention. If you hate the idea of your dog staying in
													an overcrowded kennel while you're away then HouseMyDog
													is the perfect solution for you. Our service enables
													you to browse through hundreds of sitters to find the
													perfect home for your pooch while you travel.</p>
												</div>
											</div>


											<p><a aria-controls="7" aria-expanded="false" data-toggle=
											"collapse" href="#7"><i aria-hidden="true" class=
											"fa fa-plus-circle"></i> Is HouseMyDog safe?</a>
											</p>


											<div class="collapse" id="7">
												<div class="card card-block">
													<p>Absolutely! HouseMyDog is committed to providing a
													secure and safe environment for all the Dog Parents and
													Sitters in our community. We are very selective with
													our Sitter community; every sitter has been screened
													and approved by our team. Our sitters range from
													professional pet-sitters to dog owners, who can all
													provide a loving home from home for your precious pup.
													We require all Sitters to provide a detailed profile
													describing their services and experience, including
													pictures and customer reviews.</p>


													<p>All stays booked and paid for on HouseMyDog are
													covered by our HouseMyDog Terms of Service, including
													HouseMyDog's Protection Guarantee. We also encourage
													you to have a meet and greet prior to your stay to
													introduce your pup to their new friends and make sure
													they're compatible.</p>
												</div>
											</div>


											<p><a aria-controls="8" aria-expanded="false" data-toggle=
											"collapse" href="#8"><i aria-hidden="true" class=
											"fa fa-plus-circle"></i> How do I pick my perfect sitter?</a>
											</p>


											<div class="collapse" id="8">
												<div class="card card-block">
													<p>All sitters on HouseMyDog are approved and screened
													by our team. In addition, there are also multiple
													verification credentials that sitters can earn, look
													for these to find our most qualified sitters:</p>


													<p><strong>Phone Interview complete</strong> - The
													sitter has passed a rigorous phone interview performed
													by the experts at our Concierge.</p>


													<p><strong>Paypal setup</strong> - The sitter has
													provided more verification by connecting his paypal
													account to his HouseMyDog account.</p>


													<p><strong>Facebook connected</strong> - The sitter has
													verified their identity by connecting their Facebook
													profile with their HouseMyDog profile.</p>


													<p><strong>3 References provided</strong> - The sitter
													has provided 3 valid references outlining their
													experience caring for dogs.</p>


													<p><strong>Police Clearance Cert</strong> – The sitter
													has provided HouseMyDohg with an official police
													vetting certificate.</p>


													<p><strong>ID Screened</strong> – The sitter has
													provided an official ID to verify their identity with
													HouseMyDog</p>


													<p><strong>Parent reviews</strong> – The sitter has
													received positive feedback from other dog parents in
													the HouseMyDog community - only real parents can write
													reviews</p>
												</div>
											</div>


											<p><a aria-controls="9" aria-expanded="false" data-toggle=
											"collapse" href="#9"><i aria-hidden="true" class=
											"fa fa-plus-circle"></i> What is the cancellation policy?</a>
											</p>


											<div class="collapse" id="9">
												<div class="card card-block">
													<p>Each of our hosts set their own cancellation policy,
													which is clearly stated on their profiles. There are
													two options:</p>


													<p><strong>Flexible</strong>: Full refund (excluding
													fees) 3 days prior to arrival, 50% refund (excluding
													fees) after that.</p>


													<p><strong>Strict</strong>: Full refund (excluding
													fees) 7 days prior to arrival, 50% refund (excluding
													fees) after that.</p>


													<p>Please make note of a sitter's cancellation policy
													when booking, to avoid any issues in the event a
													cancellation must be made.</p>
												</div>
											</div>


											<p><a aria-controls="10" aria-expanded="false" data-toggle=
											"collapse" href="#10"><i aria-hidden="true" class=
											"fa fa-plus-circle"></i> Do I need to be licensed and
											insured?</a>
											</p>


											<div class="collapse" id="10">
												<div class="card card-block">
													<p>You do not need to be licensed or insured to use
													HouseMyDog.com. If your dog encounters any problems,
													you have access to the HouseMyDog guarantee which
													provides both 24/7 support and Complimentary Emergency
													Vet Care.</p>
												</div>
											</div>


											<p><a aria-controls="11" aria-expanded="false" data-toggle=
											"collapse" href="#11"><i aria-hidden="true" class=
											"fa fa-plus-circle"></i> What if I want to meet the sitter
											before I leave my dog?</a>
											</p>


											<div class="collapse" id="11">
												<div class="card card-block">
													<p>No problem! We encourage parents to schedule a Meet
													and Greet appointment with their prospective sitter
													prior to the stay to sort out the finer details and
													make sure their pup is compatible with any resident
													dogs as well as the sitter themselves.</p>
												</div>
											</div>


											<p><a aria-controls="12" aria-expanded="false" data-toggle=
											"collapse" href="#12"><i aria-hidden="true" class=
											"fa fa-plus-circle"></i> What if my dog has special
											requirements?</a>
											</p>


											<div class="collapse" id="12">
												<div class="card card-block">
													<p>We've made it easy for Dog Parents and Sitters to
													get in touch and learn more about each other through
													HouseMyDog.com. All of our sitters' profiles are full
													of helpful information and there are plenty of sitters
													who can cater to your pup's individual needs. You are
													always encouraged to message sitters or schedule a Meet
													&amp; Greet with your sitter to introduce your pets and
													sort out any special needs in advance of the stay.</p>
												</div>
											</div>


											<p><a aria-controls="13" aria-expanded="false" data-toggle=
											"collapse" href="#13"><i aria-hidden="true" class=
											"fa fa-plus-circle"></i> What should I bring when I drop off my
											dog?</a>
											</p>


											<div class="collapse" id="13">
												<div class="card card-block">
													<p>In order for your dog to feel at home in their
													sitters house, we recommend keeping their habits and
													routine as similar to home as possible. Don't forget to
													bring enough food for the entire duration of the stay
													unless the sitter specifies otherwise, as well as their
													leash and any medicine they may require. We do not
													recommend bringing scented items or toys with huge
													sentimental value if there are other dogs present
													during the stay, as this may result in territorial
													behaviour and possible damage to the toy/item.</p>
												</div>
											</div>


											<p><a aria-controls="14" aria-expanded="false" data-toggle=
											"collapse" href="#14"><i aria-hidden="true" class=
											"fa fa-plus-circle"></i> How do I cancel my reservation?</a>
											</p>


											<div class="collapse" id="14">
												<div class="card card-block">
													<p>We understand that sometimes unforeseen
													circumstances will force you to change or cancel an
													existing reservation. We want to make that process easy
													for you. To alter or cancel an existing reservation,
													please cancel with your sitter first, then call our
													support at IRE 01 905 9056 / UK 020 3393 5921 or email
													us at support@housemydog.com. Please remember to
													include your receipt number in the subject line.</p>
												</div>
											</div>


											<p><a aria-controls="15" aria-expanded="false" data-toggle=
											"collapse" href="#15"><i aria-hidden="true" class=
											"fa fa-plus-circle"></i> How does the payment work?</a>
											</p>


											<div class="collapse" id="15">
												<div class="card card-block">
													<p>HouseMyDog has made paying for a great stay simple.
													We accept all major credit cards – Visa, MasterCard,
													and American Express. All you have to do is select the
													perfect sitter for your pup, click the &quot;Make
													Reservation&quot; button on the sitter's profile page
													and follow the simple steps to enter credit card
													information. Your card will be charged when a
													reservation is confirmed. Your money will then be held
													safely until 48h after the end of the stay, in order to
													insure the sitter delivered the service adequately.</p>
												</div>
											</div>


											<p><a aria-controls="16" aria-expanded="false" data-toggle=
											"collapse" href="#16"><i aria-hidden="true" class=
											"fa fa-plus-circle"></i> How much is the service fee?</a>
											</p>


											<div class="collapse" id="16">
												<div class="card card-block">
													<p>Dog owners do not pay any additional charges other
													than the dog sitters cost per service.</p>
												</div>
											</div>


											<h2 id="sitters">Dog Sitters</h2>


											<p><a aria-controls="17" aria-expanded="false" data-toggle=
											"collapse" href="#17"><i aria-hidden="true" class=
											"fa fa-plus-circle"></i> Do I need to provide food or items for
											the dog?</a>
											</p>


											<div class="collapse" id="17">
												<div class="card card-block">
													<p>Not necessarily. Unless you specify otherwise, it is
													the owners responsibility to provide food, bedding, or
													any other items/medicines their pet may require on
													their stay. However if you wish to provide any of these
													items you may do so and prearrange it with the
													owner.</p>
												</div>
											</div>


											<p><a aria-controls="18" aria-expanded="false" data-toggle=
											"collapse" href="#18"><i aria-hidden="true" class=
											"fa fa-plus-circle"></i> Can I control which dogs I accept for
											sitting and boarding?</a>
											</p>


											<div class="collapse" id="18">
												<div class="card card-block">
													<p>Absolutely! You have full control of what dogs you
													want to host. All these preferences can be chosen in
													your profile based on your own requirements. Don't
													worry, we won't take it personally if Charlie the
													Chihuahua doesn't want to share his home with Gary the
													Great Dane!</p>
												</div>
											</div>


											<p><a aria-controls="19" aria-expanded="false" data-toggle=
											"collapse" href="#19"><i aria-hidden="true" class=
											"fa fa-plus-circle"></i> What if I want to offer other
											services?</a>
											</p>


											<div class="collapse" id="19">
												<div class="card card-block">
													<p>We are currently working on a function to enable
													sitters to offer add-on services such as grooming,
													walking, training etc. If you wish to offer extra
													services, we recommend you specify your
													abilities/services on your profile and adjust your
													price per night accordingly.</p>
												</div>
											</div>


											<p><a aria-controls="20" aria-expanded="false" data-toggle=
											"collapse" href="#20"><i aria-hidden="true" class=
											"fa fa-plus-circle"></i> How and when can I get paid?</a>
											</p>


											<div class="collapse" id="20">
												<div class="card card-block">
													<p>Our payment process is operated securely by PayPal.
													HouseMyDog will receive parent's payment upon
													confirmation of the stay, and will transfer the money
													to you 48 hours after the end of the stay. It is
													imperative you do not take direct payment from parents
													as this renders the HouseMyDog Guarantee void. To
													create your own free PayPal account click <a href=
													"http://www.paypal.com" target="_new">here</a>.</p>
												</div>
											</div>


											<p><a aria-controls="21" aria-expanded="false" data-toggle=
											"collapse" href="#21"><i aria-hidden="true" class=
											"fa fa-plus-circle"></i> How much is the service fee?</a>
											</p>


											<div class="collapse" id="21">
												<div class="card card-block">
													<p>Signing up to become a &quot;Sitter&quot; is simple
													and free. You set your own rates, control your
													schedule, and decide which dogs to accept.</p>


													<p>There is a 15% service fee which enables HouseMyDog
													to bring customers to your profile, provide secure
													online payments, and offer free 24/7 Support and
													Emergency Vet Care with every booking. Without this fee
													we would not be able to provide and maintain the
													HouseMyDog community.</p>
												</div>
											</div>


											<p><a aria-controls="22" aria-expanded="false" data-toggle=
											"collapse" href="#22"><i aria-hidden="true" class=
											"fa fa-plus-circle"></i> What if I want to cancel a
											reservation?</a>
											</p>


											<div class="collapse" id="22">
												<div class="card card-block">
													<p>If you need to cancel a reservation, please contact
													our support team at <a href=
													"mailto:support@housemydog.com">support@housemydog.com</a>
													or call us on IRE 01 905 9056 / UK 020 3393 5921.</p>
												</div>
											</div>


											<p><a aria-controls="23" aria-expanded="false" data-toggle=
											"collapse" href="#23"><i aria-hidden="true" class=
											"fa fa-plus-circle"></i> What should I do in case of
											emergency?</a>
											</p>


											<div class="collapse" id="23">
												<div class="card card-block">
													<p>In the event of an emergency contact our 24/7
													support team at IRE 01 905 9056 / UK 020 3393 5921.</p>
												</div>
											</div>
										</div>
									</div>
							</div>
						</section>
					</article>

	<!-- Footer -->
		{% include "footer.html" %}

			</div>

	</body>
</html>