<!DOCTYPE HTML>
<html>
<head>
	<title>Support | Sequence Control Panel</title>
	{% include "head.html" %}
</head>
<body>
{% load staticfiles %}
  <!-- Page Wrapper -->
  <div id="page-wrapper">
  <!-- Header -->
  {% include "nav.html" %}
  <!-- Main -->
  <article id="main">
    <header>
      <h2>Frequently Asked Questions</h2>
      <p>We&#39;re here to help you out</p>
    </header>
    <section class="wrapper style5">
      <div class="inner lead">
        <div class="text-center">
          <p>Below are the answers to the most commonly asked questions. If you need more information, don&#39;t hesitate
          <br />to contact us at 01 905 9056 or at 
          <a href="mailto:support@scp.com">support@scp.com</a></p>
        </div>
        <div class="container-fluid">
          <div class="col-xs-12">
            <h2>General Questions</h2>
            <p>
              <a aria-controls="1" aria-expanded="false" data-toggle="collapse" href="#1">What is Sequence Control Panel?</a>
            </p>
            <div class="collapse" id="1">
              <div class="card card-block">
                <p>Sequence Control Panel is built to provide relevant real time data to help you monitor and invest logically in
                your portfolio.</p>
                <p>Our aim is to make data more friendly by using visuals tools to help you find the results you&#39;re looking
                for. Anybody can use SCP and understand the results shown. No training or industry knowledge is needed. Just search
                for the stock you want to invest in and our advanced algorithms will show forecasts for the stock.</p>
                <p>All in real-time.</p>
                <p>Our algorithms are proven to give accurate forecasting results. Our machine learning model has a high success
                rate that will help you to invest smartly.</p>
              </div>
            </div>
            <p>
              <a aria-controls="2" aria-expanded="false" data-toggle="collapse" href="#2">How does Sequence Control Panel work?</a>
            </p>
            <div class="collapse" id="2">
              <div class="card card-block">
                <p>Sequence Control Panel works by using simple prediction models used to forecast stock prices. Our machine
                learning model has a high success rate that will accurately produce the results you&#39;re looking for to help you
                invest.</p>
              </div>
            </div>
            <p>
              <a aria-controls="3" aria-expanded="false" data-toggle="collapse" href="#3">Where do you get your data from?</a>
            </p>
            <div class="collapse" id="3">
              <div class="card card-block">
                <p>SCP uses data straight from Wallstreet and feeds it into our advanced algorithms to generate proven results.
                This is all done in real-time.</p>
                <p>Data is then showcased in a user-friendly fashion.</p>
              </div>
            </div>
            <p>
              <a aria-controls="4" aria-expanded="false" data-toggle="collapse" href="#4">Do I have to pay to join Sequence Control
              Panel?</a>
            </p>
            <div class="collapse" id="4">
              <div class="card card-block">
                <p>No way! Sequence Control Panel is free to join and ALWAYS will be. It costs nothing to become a member, create a
                profile and engage with data.</p>
              </div>
            </div>
            <p>
              <a aria-controls="5" aria-expanded="false" data-toggle="collapse" href="#5">What is the Sequence Control Panel
              guarantee?</a>
            </p>
            <div class="collapse" id="5">
              <div class="card card-block">
                <p>Here at Sequence Control Panel, we are committed to providing the best financial analytics solutions. The
                Sequence Control Panel guarantee will offer you peace of mind while investing. We do not guarantee the forecasts
                presented but we stand by our data. SCP guarantees 24/7 support to all users.</p>
              </div>
            </div>
            <p>
              <a aria-controls="6" aria-expanded="false" data-toggle="collapse" href="#6">Why is SCP right for me?</a>
            </p>
            <div class="collapse" id="6">
              <div class="card card-block">
                <p>We believe that all people should be given the chance to freely invest without the bureaucracy of dealing with
                Stock brokers / Stock trader. Thats why we created Sequence Control Panel. Our aim is to simplify data so that
                industry and none industry users can invest smartly and accurately within the stock market. Our forecasts models
                make it easier to invest safely.</p>
                <p>You will be taken care of by a loving community, with individual attention. If you hate the idea of investing
                within the unknown, Sequence Control Panel is the perfect solution for you. Our service enables you to browse
                through hundreds of markets around the world to find the perfect investment.</p>
              </div>
            </div>
            <p>
              <a aria-controls="7" aria-expanded="false" data-toggle="collapse" href="#7">Is Sequence Control Panel safe?</a>
            </p>
            <div class="collapse" id="7">
              <div class="card card-block">
                <p>Absolutely! Sequence Control Panel is committed to providing a secure and safe environment for all users in our
                community. We are very selective with the data and tools we use; every user will be assured that their precious
                information is kept safe. We require all users to provide a detailed profile only for the purpose keeping in
                contact with you.</p>
                <p>All users on SCP are covered by our SCP Terms of Service, including SCP&#39;s Protection Guarantee. We also
                encourage you to have a look into our services prior to jumping right in.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
  <!-- Footer -->
  {% include "footer.html" %}
  </div>
  </body>
</html>
