<!DOCTYPE HTML>
<html>
	<head>
		<title>Home | Sequence Control Panel</title>
		{% include "head.html" %}
	</head>
	<body class="landing">
	
	{% load staticfiles %}
	
		<!-- Page Wrapper -->
			<div id="page-wrapper">
				
			<!-- Header -->
				{% include "nav.html" %}
				
			<!-- Banner -->
				<section id="banner">
					<div class="inner">
						<h2>Sequence Control Panel</h2>
						<p>A Powerful Admin<br />
						Control Panel To Manage<br />
						Your Stocks</p>
						<ul class="actions">
							<li><a href="{% url 'account_signup' %}" class="button special">Join Us</a></li>
						</ul>
					</div>
					<a href="#one" class="more scrolly">Learn More</a>
				</section>

			<!-- One -->
				<section id="one" class="wrapper style1 special">
					<div class="inner">
						<header class="major">
							<h2>Get Essential Data on Stocks at a Glance<br />
							And Maximize your earnings</h2>
							<p>Sequence Control Panel is built to provide relevant real time data to help<br />
							you monitor and invest logically in your portfolio.</p>
						</header>
						<ul class="icons major">
							<li><span class="icon fa-usd major"><span class="label">Lorem</span></span></li>
							<li><span class="icon fa-bar-chart  major"><span class="label">Ipsum</span></span></li>
							<li><span class="icon fa-eur major"><span class="label">Dolor</span></span></li>
						</ul>
					</div>
				</section>

			<!-- Two -->
				<section id="two" class="wrapper alt style2">
					<section class="spotlight">
						<div class="image"><img src="{% static "images/pic01.jpg" %}" alt="" /></div><div class="content">
							<h2>Grow your portfolio<br />
							with SCP</h2>
							<p>Invest in new profitable IPO and grow your portfolio. SCP will help you make safer, profitable investments</p>
						</div>
					</section>
					<section class="spotlight">
						<div class="image"><img src="{% static "images/pic02.jpg" %}" alt="" /></div><div class="content">
							<h2>Maximize your earnings<br />
							with SCP</h2>
							<p>SCP will help you grow your earnings with each investment. Maximize your profits and returns using our advanced analytics services.</p>
						</div>
					</section>
					<section class="spotlight">
						<div class="image"><img src="{% static "images/pic03.jpg" %}" alt="" /></div><div class="content">
							<h2>Invest logically & safely<br />
							with SCP</h2>
							<p>Invest smartly using our real-time market analytics trading results powered by Wall Street.</p>
						</div>
					</section>
				</section>

			<!-- Three -->
				<section id="three" class="wrapper style3 special">
					<div class="inner">
						<header class="major">
							<h2>SCP is powered by Wall Street</h2>
							<p>Our powerful analytics service is powered by Wall Street's financial data.<br />
							We use real-time trusted market data to help you invest safely and logically.</p>
						</header>
					</div>
				</section>

			<!-- CTA -->
				<section id="cta" class="wrapper style4">
					<div class="inner">
						<header>
							<h2>Join us & start investing</h2>
							<p>Get started today and join us for free or learn more about us and our analytics service.</p>
						</header>
						<ul class="actions vertical">
							<li><a href="{% url 'account_signup' %}" class="button fit special">Join Us</a></li>
							<li><a href="{% url 'about' %}" class="button fit">Learn More</a></li>
						</ul>
					</div>
				</section>
				
			</div>
			
	<!-- Footer -->
		{% include "footer.html" %}
		
	</body>
</html>