<!DOCTYPE html>
<html>
	<head>
		<title>Password Reset | Sequence Control Panel</title>
		{% include "head.html" %}
	</head>
	<body class="form">

	{% load staticfiles %}
	
	<!-- Header -->
		{% include "nav.html" %}

    <div class="container top-pad text-navy">
	
        <div class="row">
		
            <br><br><br>
			
            <div class="col-md-6 col-md-offset-3 col-xs-12">
			
                <div class="panel panel-default">
				
                    <div class="panel-body bordered">
					
                        <div class="text-center">
						
                            <br>
							
                            <h2 class="text-navy">Forgot your password?</h2>
                            
							<br>

                            <p>Input your E-mail address below &amp;<br>
                            We'll send you a temporary password</p>
							
                        </div>
						
                        <br>

                        <div class="form-group">
							<form method="post" action="" class="wide">
								<label for="email">Email</label>
								<input class="form-control" id="email" placeholder="Enter your e-mail address" type="email" required>
								
								<br>
								
								<button class="btn btn-primary btn-lg btn-block" onclick="resetPassword();" type="submit">
								Recover password</button>
							</form>	
                        </div>
						
                        <br>

                        <div class="text-center">
						
                            <p>Not a Member? <a href="/signup">Sign up here</a></p>
							
                        </div>
						
                        <br>
						
                    </div>
					
                </div>
				
            </div>
			
        </div>
		
    </div>
	
	<!-- Footer -->
		{% include "footer.html" %}
	
</body>
</html>