<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sign up | Sequence Control Panel</title>
		{% include "head.html" %}
	</head>
	<body class="form">
	
	{% load staticfiles %}
	
		<!-- Header -->
			{% include "nav.html" %}

		<div class="container top-pad text-navy">

			<div class="row">
			
				<br /><br /><br />

				<section class="signup-form hidden-element">
					<div class="col-md-6 col-md-offset-3 col-xs-12">

						<div class="panel panel-default">
							<div class="panel-body bordered">

								<div class="text-center text-navy">
									<h2 class="text-navy">Sign Up</h2>
									<h4 class="text-navy">Please sign up below before you start using SCP</h4>
								</div>

								<div class="row">
									<div class="container-fluid" id="signup-form">
										<form method="post" action="" class="wide">
											<div class="form-group">
												<label for="signup_email">Email address</label>
												<input type="email" class="form-control" name="signup_email" id="signup_email" placeholder="Your e-mail" required>
											</div>

											<div class="form-group">
												<label for="signup_password">Password</label>
												<input type="password" class="form-control" name="signup_password" id="signup_password" placeholder="Your password" autocomplete="off" required>
											</div>
											
											<div class="form-group">
												<label for="password_confirm">Confirm Password</label>
												<input type="password" class="form-control" name="password_confirm" id="password_confirm" placeholder="Confirm Password" autocomplete="off" required>
											</div>

											<div class="form-group">
												<label for="first_name">First name</label>
												<input type="text" class="form-control" name="first_name" id="first_name" placeholder="First name" required>
											</div>

											<div class="form-group">
												<label for="last_name">Last name</label>
												<input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last name" required>
											</div>

											<br/>

											<button class="btn btn-primary btn-lg btn-block" id="signup-btn" onclick="">Sign up</button>
										</form>
										
										<br/>
										<div class="text-center">Or</div>
										<br/>

										<div class="col-md-6">
											<a class="btn btn-block btn-lg btn-facebook" type="submit" href=""><i class="fa fa-facebook-official fa-2x"></i></a>
										</div>
										
										<div class="col-md-6">
											<a class="btn btn-block btn-lg btn-google" type="submit" href=""><i class="fa fa-google-plus fa-2x"></i></a>
										</div>
										
										<hr/>
										<p class="text-center">Already a member? <a href="/login">Log in here</a></p>

									</div>
									
								</div>
								
							</div>
							
						</div>
						
					</div>
					
				</section>

				<section class="signup-option">

					<div class="col-md-6 col-md-offset-3 col-xs-12">
						<div class="panel panel-default">
							<div class="panel-body bordered text-center">
								<h2 class="text-navy">Sign up</h2>
								<h4 class="text-navy">Please select a sign up option</h4>
									
								<br/>

								<div class="row">
									<div class="col-md-6">
										<a class="btn btn-block btn-lg btn-facebook" type="submit" href=""><i class="fa fa-facebook-official fa-2x"></i></a>
									</div>
										
									<div class="col-md-6">
										<a class="btn btn-block btn-lg btn-google" type="submit" href=""><i class="fa fa-google-plus fa-2x"></i></a>
									</div>
								</div>
								
								<br/>
								<br/>
								<div class="text-center">Or</div>
								<br/><br/>
									
								<button class="btn btn-primary btn-lg btn-block" id="signup-email">Sign up with Email</button>
								
								<br/>
								<br/>
									
								<p class="text-center">Already a member? <a href="/login">Log in here</a></p>
								
								<br/>
								
							</div>
							
						</div>

					</div>

				</section>

			</div>
			
		</div>

	<!-- Footer -->
		{% include "footer.html" %}

		<script>
			$('#signup-email').click(function () {
				$('.signup-option').hide();
				$('.signup-form').show();
			})
		</script>

	</body>
</html>