{% load staticfiles %}

<link rel="shortcut icon" href={% static "images/icon.png" %} type="image/x-icon"/>
<link rel="apple-touch-icon-precomposed" sizes="250x250" href={% static "images/icon-big.jpg" %}/>
<link rel="icon" href={% static "images/icon.png" %} type="image/x-icon"/>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,300italic,300" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href={% static 'css/style.css' %} />

<meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=1.0, minimum-scale=0.9, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no">
<meta charset="utf-8">
<meta name="theme-color" content="#2E3842" />
<meta http-equiv="cache-control" content="no-cache" />