<header id="header">
	<h1><a href="{% url 'index' %}">Sequence Control Panel</a></h1>
	<nav id="nav">
		<ul>
			<li class="special">
				<a href="#menu" class="menuToggle"><span>Menu</span></a>
				<div id="menu">
					<ul>
						<li><a href="{% url 'index' %}">Home</a></li>
						<li><a href="{% url 'account_login' %}">Log In</a></li>
						<li><a href="{% url 'account_signup' %}">Sign Up</a></li>
						<li><a href="{% url 'support' %}">Support</a></li>
						<li><a href="{% url 'about' %}">About Us</a></li>
						<li><a href="{% url 'contact' %}">Contact Us</a></li>
						<li><a href="{% url 'terms' %}">Terms & Conditions</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</nav>
</header>